[submodule "src/main/java/com/robocats"]
	path = src/main/java/com/robocats
	url = https://github.com/FRC9149/Bill-Lib.git
[submodule "src/main/java/com/robocats"]
	path = src/main/java/com/robocats
	url = https://github.com/FRC9149/Bill-Lib.git
